<nav class="menu hidden-xs navbar navbar-fixed-top navbar-custom" ng-controller="NavbarCtrl">
  <div class="hidden-xs container-fluid">
    <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open"/>
    <label class="menu-open-button" for="menu-open">
      <span class="hamburger hamburger-1"></span>
      <span class="hamburger hamburger-2"></span>
      <span class="hamburger hamburger-3"></span>
    </label>
    
    <a ng-if="isLoggedIn" ui-sref-active="active" ui-sref="hem" class="menu-item"> <i class="glyphicon icon-home"></i> </a>
    <a ng-if="isLoggedIn" ui-sref-active="active" ui-sref="leverantorer" class="menu-item"><i class="glyphicon icon-Leverantor"></i></a>
    <a ng-if="isLoggedIn" ui-sref-active="active" ui-sref="anvandare" class="menu-item"> <i class="glyphicon glyphicon-user"></i> </a>
    <a ng-if="isLoggedIn" ui-sref-active="active" ui-sref="kpi" class="menu-item"><i class="glyphicon icon-kpi"></i> </a>
    <a ng-if="!isLoggedIn" ui-sref-active="active" ui-sref="login" class="menu-item"> <i class="glyphicon glyphicon-lock"></i> </a>
  </div>
  <div class="login-buttons pull-right">
    <a ng-if="!isLoggedIn" ui-sref="login" id="login-button" class="btn btn-wind btn-circle" role="button">Logga in</a>

    <a ng-if="isLoggedIn" href ng-click="logoutUser()" id="logout-button" class="btn btn-wind btn-circle" role="button">Logga ut</a>
  </div>
</nav>



<!-- filters -->
<svg xmlns="http://www.w3.org/2000/svg" version="1.1" class="hidden-xs">
    <!-- <defs>
      <filter id="shadowed-goo">
          
          <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
          <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
          <feGaussianBlur in="goo" stdDeviation="3" result="shadow" />
          <feColorMatrix in="shadow" mode="matrix" values="0 0 0 0 0  0 0 0 0 0  0 0 0 0 0  0 0 0 1 -0.2" result="shadow" />
          <feOffset in="shadow" dx="1" dy="1" result="shadow" />
          <feComposite in2="shadow" in="goo" result="goo"  />
          <feComposite in2="goo" in="SourceGraphic" result="mix" operator="atop" />
      </filter>
      <filter id="goo">
          <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10" />
          <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 18 -7" result="goo" />
          <feComposite in2="goo" in="SourceGraphic" result="mix" />
      </filter>
    </defs> -->
</svg>
