/**
* Only our `main.less` file is included in compilation; all other files
* that ought to be inlcuded must be imported here. There should not be necessary
* to specify the paths since grunt does that for us.
*/
svg {
  height: 100px;
}
.login-buttons {
  margin-right: 20px;
}
.navbar-brand,
.navbar-nav {
  margin-left: 30px;
}
.navbar-brand li a,
.navbar-nav li a {
  line-height: 60px;
  height: 60px;
  padding-top: 0;
}
.navbar-custom body {
  color: white;
}
.navbar-custom h1,
h2,
h3,
h4 {
  margin: 0;
  margin-bottom: 10px;
  margin-top: 10px;
}
.navbar-custom h1 {
  font-size: 3em;
}
.menu .container-fluid {
  -webkit-filter: url("#shadowed-goo");
  -moz-filter: url("#shadowed-goo");
  -ms-filter: url("#shadowed-goo");
  -o-filter: url("#shadowed-goo");
  filter: url("#shadowed-goo");
}
.menu-item,
.menu-open-button {
  background: #58595b;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  position: absolute;
  top: 20px;
  color: white;
  text-align: center;
  line-height: 80px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  -moz-transition: -moz-transform ease-out 200ms;
  -ms-transition: -ms-transform ease-out 200ms;
  -o-transition: -o-transform ease-out 200ms;
  transition: transform ease-out 200ms;
}
.menu-open {
  display: none;
}
.hamburger {
  width: 25px;
  height: 3px;
  background: #77cac4;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  -webkit-transition: -webkit-transform 200ms;
  -moz-transition: -moz-transform 200ms;
  -ms-transition: -ms-transform 200ms;
  -o-transition: -o-transform 200ms;
  transition: transform 200ms;
}
.hamburger-1 {
  -webkit-transform: translate3d(0, -8px, 0);
  -moz-transform: translate3d(0, -8px, 0);
  -ms-transform: translate3d(0, -8px, 0);
  -o-transform: translate3d(0, -8px, 0);
  transform: translate3d(0, -8px, 0);
}
.hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.hamburger-3 {
  -webkit-transform: translate3d(0, 8px, 0);
  -moz-transform: translate3d(0, 8px, 0);
  -ms-transform: translate3d(0, 8px, 0);
  -o-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
}
.menu-open:checked + .menu-open-button .hamburger-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
  -moz-transform: translate3d(0, 0, 0) rotate(45deg);
  -ms-transform: translate3d(0, 0, 0) rotate(45deg);
  -o-transform: translate3d(0, 0, 0) rotate(45deg);
  transform: translate3d(0, 0, 0) rotate(45deg);
}
.menu-open:checked + .menu-open-button .hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
  -moz-transform: translate3d(0, 0, 0) scale(0.1, 1);
  -ms-transform: translate3d(0, 0, 0) scale(0.1, 1);
  -o-transform: translate3d(0, 0, 0) scale(0.1, 1);
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.menu-open:checked + .menu-open-button .hamburger-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
  -moz-transform: translate3d(0, 0, 0) rotate(-45deg);
  -ms-transform: translate3d(0, 0, 0) rotate(-45deg);
  -o-transform: translate3d(0, 0, 0) rotate(-45deg);
  transform: translate3d(0, 0, 0) rotate(-45deg);
}
.menu {
  position: absolute;
  left: 15%;
  margin-left: -80px;
  padding-top: 20px;
  padding-left: 80px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
}
.menu-item:hover {
  background: #77cac4;
  color: #58595b;
}
.navbar a.active {
  background: #77cac4;
  color: #58595b;
}
.menu-item:nth-child(3) {
  -webkit-transition-duration: 180ms;
  -moz-transition-duration: 180ms;
  -ms-transition-duration: 180ms;
  -o-transition-duration: 180ms;
  transition-duration: 180ms;
}
.menu-item:nth-child(4) {
  -webkit-transition-duration: 180ms;
  -moz-transition-duration: 180ms;
  -ms-transition-duration: 180ms;
  -o-transition-duration: 180ms;
  transition-duration: 180ms;
}
.menu-item:nth-child(5) {
  -webkit-transition-duration: 180ms;
  -moz-transition-duration: 180ms;
  -ms-transition-duration: 180ms;
  -o-transition-duration: 180ms;
  transition-duration: 180ms;
}
.menu-item:nth-child(6) {
  -webkit-transition-duration: 180ms;
  -moz-transition-duration: 180ms;
  -ms-transition-duration: 180ms;
  -o-transition-duration: 180ms;
  transition-duration: 180ms;
}
.menu-open-button {
  z-index: 2;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 400ms;
  -moz-transition-duration: 400ms;
  -ms-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  -moz-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  -ms-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  -o-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}
.menu-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  -moz-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  -ms-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  -o-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}
.menu-open:checked + .menu-open-button {
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}
.menu-open:checked ~ .menu-item {
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}
.menu-open:checked ~ .menu-item:nth-child(3) {
  -webkit-transition-duration: 190ms;
  transition-duration: 190ms;
  -webkit-transform: translate3d(110px, 0, 0);
  transform: translate3d(110px, 0, 0);
}
.menu-open:checked ~ .menu-item:nth-child(4) {
  -webkit-transition-duration: 290ms;
  transition-duration: 290ms;
  -webkit-transform: translate3d(220px, 0, 0);
  transform: translate3d(220px, 0, 0);
}
.menu-open:checked ~ .menu-item:nth-child(5) {
  -webkit-transition-duration: 390ms;
  transition-duration: 390ms;
  -webkit-transform: translate3d(330px, 0, 0);
  transform: translate3d(330px, 0, 0);
}
.menu-open:checked ~ .menu-item:nth-child(6) {
  -webkit-transition-duration: 490ms;
  transition-duration: 490ms;
  -webkit-transform: translate3d(440px, 0, 0);
  transform: translate3d(440px, 0, 0);
}
a.link-block {
  display: block;
  color: #222;
  text-decoration: none;
}
#search-row {
  background: rgba(119, 202, 196, 0.8);
}
#search-row h1 {
  margin-bottom: 15px;
}
.form-horizontal {
  margin-top: 20px;
}
#search-row .input-container {
  margin-top: 15px;
  color: black;
}
#search-row .input-container .rating:before {
  content: "\f006";
  padding-right: 5px;
  color: black;
}
#search-row .input-container .rating-selected:before {
  content: "\f005";
  padding-right: 5px;
  color: #e3cf7a;
}
.live-preview {
  margin-bottom: 20px;
}
.supplier-inner {
  margin-bottom: 10px;
  border-radius: 6px;
  cursor: pointer;
  line-height: 1.5;
  background-color: white;
  min-height: 200px;
  width: 100%;
  font-size: 11px;
  padding: 3px;
}
.supplier-inner:hover {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: #b4e8e4;
  text-decoration: none;
}
#suppliercontainer {
  border-collapse: collapse;
}
.fix-padding {
  padding-left: 10px;
  padding-right: 10px;
}
#supplier-title {
  padding-left: 10px;
  padding-right: 10px;
}
#supplier-category {
  display: table-row;
  vertical-align: bottom;
  height: 1px;
}
.supplier-card {
  padding-right: 5px;
  padding-left: 5px;
}
/* Breadcrumbs from http://bootsnipp.com/snippets/featured/triangle-breadcrumbs-arrows */
.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}
.btn-group .btn + .btn {
  margin-left: 0px;
}
.btn-breadcrumb {
  margin-left: 50px;
}
.btn-breadcrumb .btn {
  padding: 6px 12px 6px 24px;
  border-radius: 0px;
}
.btn-breadcrumb .btn:first-child {
  padding: 6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
  padding: 6px 18px 6px 24px;
}
/** Default button **/
.btn-breadcrumb .btn-default {
  color: #333;
  background-color: #f1f4fa;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):after {
  border-left: 10px solid #f1f4fa;
}
.btn-breadcrumb .btn.btn-default:not(:last-child):before {
  border-left: 10px solid #ccc;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
  border-left: 10px solid #f1f4fa;
}
.btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
  border-left: 10px solid #adadad;
}
/* The responsive part */
.btn-breadcrumb > * > div {
  /* With less: .text-overflow(); */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn-breadcrumb > *:nth-child(n+2) {
  display: none;
}
/* === For phones =================================== */
@media (max-width: 767px) {
  .btn-breadcrumb > *:nth-last-child(-n+2) {
    display: block;
  }
  .btn-breadcrumb > * div {
    max-width: 60px;
  }
}
/* === For tablets ================================== */
@media (min-width: 768px) and (max-width: 991px) {
  .btn-breadcrumb > *:nth-last-child(-n+4) {
    display: block;
  }
  .btn-breadcrumb > * div {
    max-width: 100px;
  }
}
/* === For desktops ================================== */
@media (min-width: 992px) {
  .btn-breadcrumb > *:nth-last-child(-n+6) {
    display: block;
  }
  .btn-breadcrumb > * div {
    max-width: 170px;
  }
}
.profile-img {
  margin: 0 auto 10px;
  padding: 0 50px 0;
  display: block;
  width: 100%;
}
.modal {
  display: block;
  height: 0;
  overflow: visible;
}
.modal-body:before,
.modal-body:after {
  display: table;
  content: " ";
}
.modal-header:before,
.modal-header:after {
  display: table;
  content: " ";
}
.authform-header-content {
  display: inline;
}
#authform-close {
  cursor: pointer;
  cursor: hand;
}
.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
}
.modal-backdrop.am-fade.ng-enter {
  opacity: 0;
}
.modal-backdrop.am-fade.ng-enter.ng-enter-active {
  opacity: .5;
}
.modal-backdrop.am-fade.ng-leave {
  opacity: .5;
}
.modal-backdrop.am-fade.ng-leave.ng-leave-active {
  opacity: 0;
}
body {
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #f1f4fa;
  color: #555459;
  padding-bottom: 50px;
}
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 0px;
  list-style: none;
  background-color: white;
  border-radius: 4px;
}
.btn-wind {
  color: white;
  background-color: #7aaaa7;
  border-color: transparent;
}
.btn-wind:hover,
.btn-wind:focus,
.btn-wind:active,
.btn-wind.active,
.open .dropdown-toggle.btn-wind {
  color: white;
  background-color: #629996;
  border-color: rgba(0, 0, 0, 0);
}
.btn-wind:active,
.btn-wind.active,
.open .dropdown-toggle.btn-wind {
  background-image: none;
}
.btn-wind.disabled,
.btn-wind[disabled],
fieldset[disabled] .btn-wind,
.btn-wind.disabled:hover,
.btn-wind[disabled]:hover,
fieldset[disabled] .btn-wind:hover,
.btn-wind.disabled:focus,
.btn-wind[disabled]:focus,
fieldset[disabled] .btn-wind:focus,
.btn-wind.disabled:active,
.btn-wind[disabled]:active,
fieldset[disabled] .btn-wind:active,
.btn-wind.disabled.active,
.btn-wind[disabled].active,
fieldset[disabled] .btn-wind.active {
  background-color: #7aaaa7;
  border-color: transparent;
}
.btn-wind .badge {
  color: #7aaaa7;
  background-color: white;
}
.btn-grey {
  color: white;
  background-color: #58595b;
  border-color: transparent;
}
.btn-grey:hover,
.btn-grey:focus,
.btn-grey:active,
.btn-grey.active,
.open .dropdown-toggle.btn-grey {
  color: white;
  background-color: #444546;
  border-color: rgba(0, 0, 0, 0);
}
.btn-grey:active,
.btn-grey.active,
.open .dropdown-toggle.btn-grey {
  background-image: none;
}
.btn-grey.disabled,
.btn-grey[disabled],
fieldset[disabled] .btn-grey,
.btn-grey.disabled:hover,
.btn-grey[disabled]:hover,
fieldset[disabled] .btn-grey:hover,
.btn-grey.disabled:focus,
.btn-grey[disabled]:focus,
fieldset[disabled] .btn-grey:focus,
.btn-grey.disabled:active,
.btn-grey[disabled]:active,
fieldset[disabled] .btn-grey:active,
.btn-grey.disabled.active,
.btn-grey[disabled].active,
fieldset[disabled] .btn-grey.active {
  background-color: #58595b;
  border-color: transparent;
}
.btn-grey .badge {
  color: #58595b;
  background-color: white;
}
.btn-circle {
  border-radius: 20px;
}
.row {
  margin-bottom: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.card {
  padding: 10px 30px 10px;
}
.card,
.jumbotron {
  background-color: white;
  margin: 10px auto 0px;
  position: relative;
  border: 0px solid #e8e8e8;
}
.collapsable {
  display: inline-block;
  overflow: hidden;
  height: 0;
  transition: height 1s;
  -webkit-transition: height 1s;
  -moz-transition: height 1s;
  -o-transition: height 1s;
}
.collapsable.showMe {
  height: 100px;
}
.jumbotron2 {
  background-color: #e7e7e7;
}
body .star .glyphicon {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  font-size: 20px;
}
body .star2x .glyphicon {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  font-size: 30px;
  margin-bottom: 15px;
}
.rating:before {
  content: "\f006";
  padding-right: 5px;
  color: #777777;
}
.rating-selected:before {
  content: "\f005";
  padding-right: 5px;
  color: #e3cf7a;
}
#handelser {
  padding-right: 0px;
}
#containerIntro {
  margin-bottom: 20px;
}
#containerIntro h1,
#containerIntro h2,
#containerIntro p {
  display: inline;
  vertical-align: middle;
}
/*  Bootstrap Clearfix */
/*  Tablet  */
@media (max-width: 766px) {
  .container {
    padding: 0;
    margin: 0;
  }
  body {
    padding: 0;
  }
  .navbar-fixed-top,
  .navbar-fixed-bottom,
  .navbar-static-top {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1) {
    clear: none;
  }
  .col-xs-1:nth-child(12n+1),
  .col-xs-2:nth-child(6n+1),
  .col-xs-3:nth-child(4n+1),
  .col-xs-4:nth-child(3n+1),
  .col-xs-6:nth-child(2n+1) {
    clear: left;
  }
}
/*  Tablet  */
@media (min-width: 767px) {
  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1) {
    clear: none;
  }
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1) {
    clear: left;
  }
}
/*  Medium Desktop  */
@media (min-width: 992px) {
  /* Column clear fix */
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1) {
    clear: none;
  }
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1) {
    clear: left;
  }
}
/*  Large Desktop  */
@media (min-width: 1200px) {
  /* Column clear fix */
  .col-md-1:nth-child(12n+1),
  .col-md-2:nth-child(6n+1),
  .col-md-3:nth-child(4n+1),
  .col-md-4:nth-child(3n+1),
  .col-md-6:nth-child(2n+1),
  .col-sm-1:nth-child(12n+1),
  .col-sm-2:nth-child(6n+1),
  .col-sm-3:nth-child(4n+1),
  .col-sm-4:nth-child(3n+1),
  .col-sm-6:nth-child(2n+1) {
    clear: none;
  }
  .col-lg-1:nth-child(12n+1),
  .col-lg-2:nth-child(6n+1),
  .col-lg-3:nth-child(4n+1),
  .col-lg-4:nth-child(3n+1),
  .col-lg-6:nth-child(2n+1) {
    clear: left;
  }
}
.view-animate.ng-enter,
.view-animate.ng-leave {
  -webkit-transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
  display: block;
  width: 100%;
  margin-top: 77px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.view-animate.ng-enter {
  left: 100%;
}
.view-animate.ng-enter.ng-enter-active {
  left: 0;
}
.view-animate.ng-leave.ng-leave-active {
  left: -100%;
}
.modal-backdrop.am-fade {
  opacity: .7;
  transition: opacity .15s linear;
}
.modal-backdrop.am-fade.ng-enter {
  opacity: 0;
}
.modal-backdrop.am-fade.ng-enter.ng-enter-active {
  opacity: .7;
}
.modal-backdrop.am-fade.ng-leave {
  opacity: .7;
}
.modal-backdrop.am-fade.ng-leave.ng-leave-active {
  opacity: 0;
}
.panel-heading {
  padding: 5px 15px;
}
.panel-footer {
  padding: 1px 15px;
  color: #A0A0A0;
}
.ng-show-add,
.ng-show-remove {
  /* ensu re visibility during the transition */
  display: block !important;
  /* yes, important */
}
.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -moz-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -ms-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  -o-transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  transition: 400ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
}
.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}
.cssSlideUp {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  height: 380px;
}
.cssSlideUp.ng-hide {
  height: 0;
}
