<div class="container-fluid" ng-controller="UserCtrl">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1"> 
      <div class="card">
        <h1>Add supplier</h1>

        <form ng-submit="createSupplier(supplier)" name="supplierForm" novalidate>
          <input placeholder="Namn" ng-model="supplier.name" type="text">
          <input placeholder="Orgnr" ng-model="supplier.orgnr" type="text">
          <button type="submit">Add</button>
        </form>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="col-sm-6">
        <div class="card">
          <h1>Users</h1>
          <ul>
            <li ng-repeat="user in users">{{user.name}}</li>
          </ul>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="card">
          <h1>Suppliers</h1>
          <ul>
            <li ng-repeat="s in suppliers">{{s['name']}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>


