<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="jumbotron text-center">
        <div id="containerIntro">
          <p>Ni har totalt:&nbsp;&nbsp;</p><h1>{{suppliers.length}}</h1><p>&nbsp;&nbsp;leverantörer</p>
        </div>
      </div><!--/jumbotron-->
    </div><!--/.col-->
  </div><!--/.row-->

  <div id="search-row" class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-xs-12 col-sm-6 col-sm-offset-2">
      <div class="text-center" ng-show="SupplierController.showForm">
        <h1>Lägg till leverantör</h1>
      </div>
      <div class="input-group" ng-hide="SupplierController.showForm">
        <input type="search" class="form-control" placeholder="Sök Leverantörer" name="srch-term" id="srch-term" ng-model="search" typeahead="supplier as supplier.title for supplier in suppliers | filter:$viewValue | limitTo:8" />
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </div><!--/.input-group-btn-->
      </div><!--/.input-group-->
    </div>
    <div class="col-sm-1 hidden-xs">
    <button class="btn btn-grey" ng-click="SupplierController.showForm = !SupplierController.showForm"><span class="glyphicon" style="vertical-align:left" ng-class="{'glyphicon-chevron-down': SupplierController.showForm, 'glyphicon-chevron-right': !SupplierController.showForm}"></span>{{SupplierController.showForm ? " Avbryt" : " Lägg till leverantör"}}</button>
    </div>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <supplier-form change-supplier-form="SupplierController.changeSupplierForm" suppliers="SupplierController.suppliers" ng-show="SupplierController.showForm"></supplier-form>
    </div>
  </div>

  <div class="row">
    <div class="supplier-container col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="supplier-card col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="supplier in suppliers | filter:search | orderBy:'title'" ui-sref="leverantorer.leverantor({ supplier_id: supplier._id })">
        <div class="supplier-inner">
          <div id="supplier-title">
            <h4>{{supplier.name}}</h4>
            <rating ng-model="supplier.rating" max="5" data-readonly="true"></rating>
            <p>{{supplier.description}}</p>
          </div>
          <div id="supplier-category">     
<!--             <h5 class="fix-padding"><small>Kategori</small></h5> -->
            <!--supplier-labels links to a directive that injects supplier-labels.tpl.html into this position.
             It passes both the categories and the segment for each supplier and 
           -->
            <supplier-labels category="supplier.category" segment="supplier.segment"></supplier-labels>
          </div>
           <!--<a class="btn btn-default" ui-sref="leverantorer.leverantor({ leverantorID: supplier.id })" role="button">Mer info &raquo;</a>-->
        </div><!--/#suppliercontainer-->
      </div><!--/.supplier-card-->
    </div><!--/.row-->
  </div><!--/.supplier-container-->

   <!--  <button class="btn btn-default col-sm-offset-1" style="margin-top:30px" ng-click="open = !open">Toggle</button>    

  <div class="col-xs-12 col-sm-2 sidebar-offcanvas sticky" id="sidebar">
    <div class="text-center col-xs-12 list-group pull-right collapsable" id="handelser" ng-class="{ showMe: open }">
      <h3>HÄNDELSER</h3>
      <a href class="list-group-item active">Händelse 1</a>
      <a href class="list-group-item">Händelse 2</a>
      <a ui-sref="#" class="list-group-item">Händelse 3</a>
      <a ui-sref="#" class="list-group-item">Händelse 4</a>
      <a ui-sref="#" class="list-group-item">Händelse 5</a>
      <a ui-sref="#" class="list-group-item">Händelse 6</a>
      <a ui-sref="#" class="list-group-item">Händelse 7</a>
      <a ui-sref="#" class="list-group-item">Händelse 8</a>
      <a ui-sref="#" class="list-group-item">Händelse 9</a>
      <a ui-sref="#" class="list-group-item">Händelse 10</a>
    </div>
  </div> --><!--/.sidebar-offcanvas-->
</div><!--/.container-fluid-->
